<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard.css">
    <title>Dashboard</title>
</head>

<body>
    <div id="app" class="flex h-screen overflow-hidden">
        <!-- Sidebar -->
        <aside id="sidebar" class="sidebar">
            <div class="sidebar-header">
                <p class="text-white heading">CareInsights</p>
            </div>
            <nav class="sidebar-nav">
                <a href="#" class="nav-item active">Dashboard</a>
                <a href="#" class="nav-item">Administration</a>
                <a href="#" class="nav-item">Clinical</a>
                <a href="#" class="nav-item">Diagnostics</a>
                <!-- Additional Sidebar links -->
            </nav>
        </aside>

        <!-- Main Content -->
        <div class="flex flex-1 flex-col overflow-y-auto overflow-x-hidden main-content">
            <!-- Header -->
            <header class="header">
                <div class="header-left">
                    <p class="title">Dashboard</p>
                </div>
                <div class="header-right">
                    <div id="userDropdown" class="user-dropdown">
                        <span id="userName" class="user-name">
                            Hello, {{ current_user.username }}!
                        </span>
                        <div id="dropdownMenu" class="dropdown-menu">
                            <a href="{{ url_for('logout') }}" class="logout-button">Log Out</a>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Main Area -->
            <main class="main">
                <div class="container">
                    <p>Your main content goes here.</p>
                </div>
            </main>
        </div>
    </div>
</body>

</html>